*
!*/
!/nvim/coc-settings.json
!/nvim/*.lua
!/nvim/lua/*.lua
!/nvim/plugin/statusline.vim
!.gitignore
!starship.toml
!fish/config.fish
!fish/osx.fish
!fish/linux.fish
!fish/functions/*
!fish/aliases/*
# !fish/completions/*
!Code/User/settings.json
!kitty/kitty.conf
fish/functions/fzf_key_bindings.fish

fish_variables
.netrwhist
