use flake

export TS_ROTATE_CLIENT_ID=$(op read "op://Private/Tailscale OAuth - Rotate/username")
export TS_ROTATE_CLIENT_SECRET=$(op read "op://Private/Tailscale OAuth - Rotate/password")
export TS_ROTATE_DOMAIN=kradalby.no
