use flake

if command -v op &> /dev/null; then
  export TS_ROTATE_CLIENT_ID=$(op read "op://Private/Tailscale OAuth - Rotate/username")
  export TS_ROTATE_CLIENT_SECRET=$(op read "op://Private/Tailscale OAuth - Rotate/password")
fi
export TS_ROTATE_DOMAIN=kradalby.no
