<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>EnvironmentVariables</key>
	<dict>
		<key>HOME</key>
		<string>/Users/kradalby</string>
	</dict>
	<key>GroupName</key>
	<string>staff</string>
	<key>KeepAlive</key>
	<dict>
		<key>NetworkState</key>
		<true/>
	</dict>
	<key>Label</key>
	<string>no.kradalby.Docker</string>
	<key>ProcessType</key>
	<string>Background</string>
	<key>ProgramArguments</key>
	<array>
		<string>/usr/local/bin/bash</string>
		<string>-c</string>
		<string>rm -f $HOME/run/docker.sock; ssh -nNT -L $HOME/run/docker.sock:/var/run/docker.sock root@dev.ntnu.fap.no -i /Users/kradalby/.ssh/id_ed25519</string>
	</array>
	<key>RunAtLoad</key>
	<true/>
	<key>StandardErrorPath</key>
	<string>/Users/kradalby/Library/Logs/no.kradalby.Docker.err.log</string>
	<key>StandardOutPath</key>
	<string>/Users/kradalby/Library/Logs/no.kradalby.Docker.out.log</string>
	<key>UserName</key>
	<string>kradalby</string>
</dict>
</plist>
