"*":
  "":
    js:
      source:
        editor:
          tabLength: 2
  "atom-typescript": {}
  "autocomplete-elixir":
    elixirPath: "/usr/local/bin/elixir"
    erlangHome: "/usr/local/lib/erlang/bin"
  "autocomplete-erlang":
    elixirPath: "/usr/local/bin/elixir"
  "autocomplete-plus":
    defaultProvider: "Fuzzy"
    scopeBlacklist: [
      ".string"
    ]
  "clipboard-plus": {}
  core:
    audioBeep: false
    ignoredNames: [
      ".git"
      ".hg"
      ".svn"
      ".DS_Store"
      ".keep"
      "._*"
      "*.pyc"
      "Thumbs.db"
      "*.beam"
    ]
    projectHome: "/Users/kradalby/git"
    themes: [
      "one-dark-ui"
      "monokai"
    ]
  editor:
    fontFamily: "Source Code Pro"
    fontSize: 12
    invisibles:
      cr: "↩"
      tab: "⇥"
    scrollPastEnd: true
    showIndentGuide: true
    showInvisible: false
    showInvisibles: true
    tabLength: 4
  "exception-reporting":
    userId: "d136aa04-5f46-42da-6fe2-f180e3c78bf2"
  "linter-erlang": {}
  "linter-erlang-dialyzer":
    pa: [
      "./ebin"
    ]
  "linter-erlc":
    erlcExecutablePath: "/usr/local/bin/erlc"
    includeDirs: "includes"
    pa: "./ebin"
  "linter-flake8":
    executablePath: "/usr/local/bin/flake8"
    maxLineLength: 80
    projectConfigFile: "tox.ini"
  "linter-flow": {}
  "linter-shellcheck": {}
  "linter-tidy":
    executablePath: "/usr/local/bin/tidy"
  minimap: {}
  "tree-view":
    hideIgnoredNames: true
    hideVcsIgnoredFiles: true
  "vim-mode-plus": {}
  welcome:
    showOnStartup: false
".js.regexp.source":
  editor:
    tabLength: 2
".js.source":
  editor:
    tabLength: 2
