packages: [
  'atom-typescript'
  'autocomplete-erlang'
  'clipboard-plus'
  'file-type-icons'
  'fonts'
  'indentation-indicator'
  'language-erlang'
  'language-swift'
  'linter'
  'linter-coffeelint'
  'linter-csslint'
  'linter-erlang'
  'linter-erlang-dialyzer'
  'linter-flake8'
  'linter-flow'
  'linter-less'
  'linter-scss-lint'
  'linter-shellcheck'
  'linter-js-standard'
  'linter-swiftlint'
  'linter-tidy'
  'linter-write-good'
  'minimap'
  'monokai'
  'package-sync'
  'sort-lines'
  'swift-debugger'
  'toggle-quotes'
  'vim-mode-plus'
]
